@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #333333;
}

@layer components {

  /*Formulario*/
  .custom-form {
    @apply max-w-[340px] bg-secondaryColor h-[308px] rounded-[10px] flex flex-col flex-1 px-[1.5rem] py-[1.5rem];
  }

  .custom-formTitle {
    @apply text-center text-white font-semibold text-[20px] h-[30px];
  }

  .custom-formLabel {
    @apply text-white text-xs mb-1 mt-3 mr-2;
  }

  .custom-formAlert {
    @apply text-textAlertColor text-xs inline;
  }

  .custom-formInput {
    @apply h-[42px] mt-2 rounded-[10px] bg-TertiaryColor placeholder:text-secondaryTextColor placeholder:text-sm text-white pl-4;
  }

  .custom-formButton {
    @apply h-[42px] rounded-[10px] text-sm mt-5 text-primaryColor bg-white font-medium;
  }

  .custom-formMessage {
    @apply text-secondaryTextColor p-1 text-xs inline;
  }

  /*Contador*/
  .custom-count {
    @apply max-w-[340px] bg-secondaryColor rounded-[10px] text-[20px] text-center text-white pt-4;
  }

  /*grade*/
  .custom-frame {
    @apply max-w-[700px] h-[449px] bg-secondaryColor rounded-[10px] p-[1.5rem];
  }

  .custom-frameTitle {
    @apply text-white font-semibold text-[20px] h-[50px];
  }

  .custom-gridSection {
    @apply no-scrollbar overflow-y-auto overflow-x-hidden h-[calc(100%-2rem)] px-2 py-2 pl-0
  }

  .custom-list {
    @apply relative w-full flex flex-wrap bg-TertiaryColor p-4 rounded-[10px] mb-[10px];
  }

  .custom-buttonCompleted {
    @apply absolute -top-[17px] right-[10px] transform translate-x-1/2 translate-y-1/2;
  }
  .custom-buttonCanceled {
    @apply absolute -top-[17px] -right-[19px] transform translate-x-1/2 translate-y-1/2;
  }

  .custom-completedIcon {
    @apply max-w-[33%] max-h-[33%];
  }

  .custom-canceledIcon {
    @apply max-w-[33%] max-h-[33%];
  }

  .custom-taskCard {
    @apply w-full md:w-[65%] break-words;
  }

  .custom-taskName {
    @apply text-white font-semibold;
  }

  .custom-taskDescription {
    @apply text-[12px] text-secondaryTextColor;
  }

  .custom-dateTime {
    @apply text-[12px] absolute text-secondaryTextColor right-0 bottom-0 whitespace-nowrap;
  }

  @layer components {
    .custom-cardDateTime {
      @apply h-auto w-full md:w-[35%] relative flex;
    }

    @media (max-width: 768px) {
      .custom-cardDateTime {
        height: 30px;
      }
    }
  }

  @layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  /*Layout principal*/
  .custom-mainLayout {
    @apply container mx-auto max-w-[1077px] px-4 mt-[8vh];
  }

  .custom-headerLayout {
    @apply mx-auto max-w-[74vw];
  }

  .custom-TitleLayout {
    @apply text-[56px] text-white font-thin;
  }

  .custom-descriptionLayout {
    @apply text-[16px] text-secondaryTextColor mt-2 mb-10;
  }

  .custom-gridLayout {
    @apply mx-auto max-w-[74vw] grid grid-cols-[67%_32%] gap-3;
  }

  .custom-quoteText {
    @apply text-[12px] text-secondaryTextColor mt-2 mb-2;
  }

  .custom-quoteAuthor {
    @apply text-[12px] text-secondaryTextColor font-semibold;
  }

  .custom-footerLayout {
    @apply mx-auto max-w-[74vw];
  }

  .custom-footerCredits {
    @apply text-[16px] text-secondaryTextColor mt-2 mb-6 absolute bottom-0;
  }
}

@media (max-width: 1099px) {
  .custom-frame {
    @apply max-w-full;
  }

  .custom-count {
    @apply max-w-full;
  }

  .custom-form {
    @apply max-w-full;
  }

  .custom-gridLayout {
    grid-template-columns: 1fr;
  }

  .custom-footerCredits {
    @apply relative mt-[5.5rem];
  }
}

@media (max-width: 600px) {
  .custom-gridLayout {
    @apply max-w-full;
  }

  .custom-headerLayout {
    @apply max-w-full;
  }
}